.modal {
    position: fixed;
    /* top: 10vh; */
    /* width: 40rem; */
    border-radius: 7px;
    border: none;
    background-color: transparent;
    /* animation: fade-slide-down 0.5 ease-out forwards; */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.link {
    @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
    @apply bg-blue-100 text-blue-600
}