@tailwind base;
@tailwind components;
@tailwind utilities;

.modal {
    position: fixed;
    top: 15vh;
    width: 50rem;
    min-height: 50rem;
    border-radius: 7px;
    border: none;
    background-color: transparent;
    /* overflow-y: scroll; */
    animation: fade-slide-down 0.5 ease-out forwards;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.link {
    @apply p-2.5 flex rounded-md gap-6 items-center md:cursor-pointer cursor-default duration-300 font-medium;
}

.active {
    @apply bg-blue-100 text-blue-600
}

#wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 10px 0px;
    
    /* align-self: center;
    align-items: center;
    align-content: center;
    justify-self: center;
    justify-content: center;
    justify-items: center; */
}

#wrapper .search-bar {
    /* color: #ada8a5;
    background-color: #d2d2df; */
    /* border-color: #6363e4; */
    border: 1px solid #6363e4;
    width: 200px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.9rem;
    outline: none;
}

/* #wrapper .search-bar:hover {
    border: 1px solid #999693;
} */

/* #wrapper .search-bar:focus {
    background-color: white;
} */

#wrapper .search-button {
    background-color: #6363e4;
    border: none;
    width: 20px;
    height: 100%;
    padding: 10px;
    box-sizing: content-box;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* .wrapper {
    width: 200px;
    max-width: 100%;
    position: relative;
}

.wrapper input {
    padding: 1rem 2rem;
    width: 100%;
    border: 2px solid gray;
    border-radius: 7px;
}

.wrapper button {
    aspect-ratio: 1;
    background-color: blue;
    position: absolute;
    height: 100%    ;
    right: 0;
} */